#map_canvas {
  width: 500px;
  height: 500px;
}



// #name {
//   width: 50px;
//   height: 50px;
//   border-radius: 100%;
//   background-color: #37A047;
//   text-align: center;
// }

#menu {
  display: inline;
}

.horiz {
  display: inline;
}

input[type="password"].horiz {
    width: 217px;
    display: inline;
}

input[type="submit"].horiz {
    display: inline;
    margin-left: 61px;
}

.signin {
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  background-color: #ddd;
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
}

.signup {
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  background-color: #ddd;
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
}

.sign_up{
  left: 274px;
}